@keyframes Grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: 150% 150%;
  background-image: linear-gradient(100deg, #5532ff, #0cc8ff, #9afad0);
  animation: Grad 25s ease infinite;
}

* {
  box-sizing: border-box;
}

.dropdown-container {
  overflow: hidden;
}

#nav {
  position: relative;
  display: inline-block;
  margin-left: 15%;
  font-family: "Open Sans";
}

.navbar {
  padding: 0;
  margin: 0;
}
.navbar li {
  position: relative;
  font-size: 18px;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 30px 50px;
}
.navbar li:hover {
  color: rgba(255, 255, 255, 0.6666666667);
  cursor: default;
}
#nav.open[data-hover="0"] .navbar li:nth-child(1) {
  color: rgba(255, 255, 255, 0.6666666667);
}
#nav.open[data-hover="0"] .navbar li:nth-child(1):after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom-color: white;
}
#nav.open[data-hover="1"] .navbar li:nth-child(2) {
  color: rgba(255, 255, 255, 0.6666666667);
}
#nav.open[data-hover="1"] .navbar li:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom-color: white;
}
#nav.open[data-hover="2"] .navbar li:nth-child(3) {
  color: rgba(255, 255, 255, 0.6666666667);
}
#nav.open[data-hover="2"] .navbar li:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom-color: white;
}
#nav.open[data-hover="3"] .navbar li:nth-child(4) {
  color: rgba(255, 255, 255, 0.6666666667);
}
#nav.open[data-hover="3"] .navbar li:nth-child(4):after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom-color: white;
}
#nav.open[data-hover="4"] .navbar li:nth-child(5) {
  color: rgba(255, 255, 255, 0.6666666667);
}
#nav.open[data-hover="4"] .navbar li:nth-child(5):after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom-color: white;
}

.navbox {
  position: absolute;
  top: 70px;
  white-space: nowrap;
  background: white;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s, left 0s, visibility 0s linear 0.4s;
  transform: rotateX(-25deg);
  transform-origin: -100% 0;
  padding-left: 30px;
}
.navbox:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 30px;
  background-color: var(--after-background-color, red);
  border-radius: 6px 0 0 6px;
  transition: all 0.5s;
}
.navbox ul.main {
  opacity: 0;
  overflow: hidden;
  display: inline-block;
  width: 0;
  list-style: none;
  height: 0;
  padding: 0;
  margin: 0;
  position: relative;
  top: 4px;
}
#nav.open .navbox ul.main {
  transition: all 0.4s;
}
#nav[data-hover="0"] .navbox ul.main:nth-child(1) {
  opacity: 1;
  height: auto;
  width: auto;
}
#nav[data-hover="1"] .navbox ul.main:nth-child(2) {
  opacity: 1;
  height: auto;
  width: auto;
}
#nav[data-hover="2"] .navbox ul.main:nth-child(3) {
  opacity: 1;
  height: auto;
  width: auto;
}
#nav[data-hover="3"] .navbox ul.main:nth-child(4) {
  opacity: 1;
  height: auto;
  width: auto;
}
#nav[data-hover="4"] .navbox ul.main:nth-child(5) {
  opacity: 1;
  height: auto;
  width: auto;
}
.navbox li {
  color: #6772e5;
  text-align: left;
  font-weight: bold;
  padding: 15px 25px;
  margin: 0;
}
.navbox li:last-child {
  border-radius: 0 0 6px 6px;
}
.navbox li.dark {
  background: #f3f3ff;
}
#nav.open .navbox {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
  transition: all 0.4s, visibility 0s;
}
#nav[data-hover="0"] .navbox {
  left: 0px;
}
#nav[data-hover="1"] .navbox {
  left: 150px;
}
#nav[data-hover="2"] .navbox {
  left: 300px;
}
#nav[data-hover="3"] .navbox {
  left: 450px;
}
#nav[data-hover="4"] .navbox {
  left: 600px;
}

#nav2 {
  display: inline-flex;
  font-family: "Open Sans";
  padding: 0;
}
#nav2 li {
  list-style: none;
  margin: 0;
}
#nav2 .navbar2 {
  padding: 10px;
  position: relative;
}
#nav2 .navbar2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  top: var(--after-top, 10px);
  background-color: rgba(64, 224, 208, 0.445);
  clip-path: polygon(90% 31%, 100% 52%, 90% 71%, 90% 100%, 0 100%, 0 0, 90% 0);
  z-index: -1;
  transition: all 0.2s;
}
#nav2 .navbox2 {
  width: 100%;
  transform: translateY(0px);
  transition: all linear 0.3s;
}
#nav2 .navbox2 ul {
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all linear 0.2s;
}

/*# sourceMappingURL=style.css.map */
