$c-font: #6772e5;
$c-font-dark: #32325d;
$menu-item-width: 180px;
$menu-item-count: 5;
$ani-length: 0.4s;

@keyframes Grad {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: 150% 150%;
    background-image: linear-gradient(100deg, #5532ff, #0cc8ff, #9afad0);
    animation: Grad 25s ease infinite;
}
* {
    box-sizing: border-box;
}
.dropdown-container {
    overflow: hidden;
}
#nav {
    position: relative;
    display: inline-block;
    margin-left: 15%;
    font-family: "Open Sans";
}

.navbar {
    padding: 0;
    margin: 0;

    li {
        position: relative;
        font-size: 18px;
        color: white;
        display: inline-block;
        //   width:200px ;
        text-align: center;
        padding: 30px 50px;
        // transition: all 0.3s;

        &:hover {
            color: #fffa;
            cursor: default;
            // &::after{
            //     border-bottom-color: white;

            // }
        }

        // &:after {
        //     content: "";
        //     position: absolute;
        //     bottom: 10px;
        //     left: calc(50% - 10px);
        //     border: 10px solid transparent;
        //   //  transition: all 0.5s;

        // //    border-bottom-color: white;
        // }
        @for $i from 0 to $menu-item-count {
            #nav.open[data-hover="#{$i}"] &:nth-child(#{$i + 1}) {
                color: #fffa;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    left: calc(50% - 10px);
                    border: 10px solid transparent;
                    border-bottom-color: white;
                }
            }
        }
    }
}

.navbox {
    position: absolute;
    top: 70px;
    white-space: nowrap;
    background: white;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all $ani-length, left 0s, visibility 0s linear $ani-length;
    transform: rotateX(-25deg);
    transform-origin: -100% 0;
    padding-left: 30px;
    &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        height: 100%;
        width: 30px;
        background-color: var(--after-background-color, red);
        border-radius: 6px 0 0 6px;
        transition: all 0.5s;
    }

    ul.main {
        opacity: 0;
        overflow: hidden;
        display: inline-block;
        width: 0;
        list-style: none;
        height: 0;
        padding: 0;
        margin: 0;
        position: relative;
        top: 4px;
        // background-color: white;

        #nav.open & {
            transition: all $ani-length;
            //   width: 100%;
        }

        @for $i from 0 to $menu-item-count {
            #nav[data-hover="#{$i}"] & {
                &:nth-child(#{$i + 1}) {
                    opacity: 1;
                    height: auto;
                    //  display: inline-block;
                    width: auto;
                }
                // &:nth-child(#{$i + 1})::after {
                //     content: "";
                //     position: absolute;
                //     top: -20px;
                //     left: calc(50% - 10px);
                //     border: 10px solid transparent;
                //     border-bottom-color: white;
                // }
            }
        }
    }

    li {
        color: $c-font;
        text-align: left;
        font-weight: bold;
        padding: 15px 25px;
        margin: 0;

        &:last-child {
            border-radius: 0 0 6px 6px;
        }

        &.dark {
            background: #f3f3ff;
        }
    }

    #nav.open & {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0);
        transition: all $ani-length, visibility 0s;
    }

    @for $i from 0 to $menu-item-count {
        #nav[data-hover="#{$i}"] & {
            left: #{(150px * $i)};
        }
    }
}
#nav2 {
    display: inline-flex;
    font-family: "Open Sans";
    padding: 0;
    li {
        list-style: none;
        margin: 0;
    }
    .navbar2 {
        padding: 10px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 50px;
            top: var(--after-top, 10px);
            background-color: rgba(64, 224, 208, 0.445);
            clip-path: polygon(90% 31%, 100% 52%, 90% 71%, 90% 100%, 0 100%, 0 0, 90% 0);
            z-index: -1;
            transition: all 0.2s;
        }
    }
    .navbox2 {
        width: 100%;
        transform: translateY(0px);
        transition: all linear 0.3s;
        ul {
            margin: 0;
            padding: 0;
            opacity: 0;
            transition: all linear 0.2s;
        }
    }
}
